{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/registration/login.css' %}" />
{% endblock %}

{% block content %}
  <div class="login-container">
    <div class="login-box">
      <div class="login-header">
        <h1>{% trans "Sign up to PharmaDock AI" %}</h1>
        <p>{% trans "Enter your data to register a new account" %}</p>
      </div>

      <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <a href="{% url 'login' %}">{% trans "Log In" %}</a>
        <button class="btn btn-sm btn-primary float-end" type="submit">
          {% trans "Sign up" %}
        </button>
      </form>
    </div>
  </div>
{% endblock %}
